.search-result {
  display: flex;
  flex-flow: wrap;
  border: 1px black solid;
  border-radius: 4px;
  color: aliceblue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(16, 16, 20) ;
  font-size: x-large;
}

.search-result img {
  height: 100px;
  width: 100px;
}

.search-result ul {
  list-style: none;
  margin-left: 16px;
}

.search-result li {
  margin-bottom: 5x;
}

.search-result:hover {
  animation: homer 8s ease-in-out infinite;
  border: 3px rgba(105, 45, 62, 0.504) solid;
}

@keyframes homer {
  0% {background-color: rgb(16, 16, 20);}
  25% {background-color: rgba(51, 15, 78, 0.504);}
  50% {background-color: rgba(71, 15, 78, 0.504);}
  75% {background-color: rgba(78, 15, 52, 0.504);}
  100% {background-color: rgb(16, 16, 20);}
}